<div *ngIf="!!user && user.role == roleType.Seller">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" routerLink='/product/new'>New Product</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i = index; trackBy: trackByMethod">
                    <th scope="row">{{i + 1}}</th>
                    <td routerLink='/product/{{product.id}}' style="cursor: pointer;">{{product.name}}</td>
                    <td routerLink='/product/{{product.id}}' style="cursor: pointer;">{{product.amount}}</td>
                    <td routerLink='/product/{{product.id}}' style="cursor: pointer;">{{product.cost}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="onDelete(product.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="!user || user.role == roleType.Buyer">
    <div class="row">
        <div class="col-xs-12" *ngIf="!!user && user.role == roleType.Buyer"
            style="margin-top:30px; margin-bottom:30px;">
            <p style="font-size: large;">Current deposit: {{currentDeposit}} coins<p>
            <div style="display: inline-flex; width:100%">
                <select name="cost" style="width:100%" [(ngModel)]="depositCoins">
                    <option value="5">5 Coins</option>
                    <option value="10">10 Coins</option>
                    <option value="20">20 Coins</option>
                    <option value="50">50 Coins</option>
                    <option value="100">100 Coins</option>
                </select>

                <button class="btn btn-primary" [disabled]="disableDepositButton" style="margin-left:10px; width: 100%;" (click)="onAddDeposit()">
                    Add Deposit
                </button>
                <button class="btn btn-danger" [disabled]="disableDepositResetButton" style="margin-left:10px; width: 100%" (click)="onResetDeposit()">
                    Reset Deposit
                </button>
                <div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Cost</th>
                        <th scope="col" *ngIf="!!user && user.role == roleType.Buyer">Buy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index; trackBy: trackByMethod">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{product.name}}</td>
                        <td>{{product.amount}}</td>
                        <td>{{product.cost}}</td>
                        <td *ngIf="!!user && user.role == roleType.Buyer" style="display: flex;">
                            <input type="number" max="{{product.amount}}" min="0" style="width:45%"
                                [(ngModel)]="product.count" value="{{product.count}}" />
                            <button
                                [disabled]="currentDeposit < product.cost || purchaseInProgress || ((product.count * product.cost) > currentDeposit) || product.count == 0"
                                class="btn btn-success" (click)="onPurchase(product)"
                                style="width:45%; margin-left: 10px;">Buy</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>